---
---

@import "{{ site.theme }}";

$header-bg-color: #94C0FF;
$section-headings-color: #155799;

// Define space for logo placement.

.swagger-ui-wrap {
    margin-left: 2em !important;
    margin-right: 1em !important;
}

.swagger-section #header #logo .logo__img {
    margin-right: 5em;
}

// Header look and feel

.page-header {
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);

  @include large {
    padding: 3rem 4rem;
  }

  @include medium {
    padding: 2rem 3rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

.main-content {

    max-width: 95%

}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #0404ba !important;
}

// Override MaterializeCss font sizes

h1 {
    font-size: 2.25rem !important;
}

h2 {
    font-size: 1.75rem !important;
}

h3 {
    font-size: 1.25rem !important;
}
